.promo{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #073042;
   height: 524px;
   background-image: url('../../images/logo-bg.svg');
   background-position: center;
   background-repeat: no-repeat;

}
.promo__container{
   max-width: 730px;
}

.promo__title{
   color:#fff;
   letter-spacing: -0.04em;
   font-size:50px;
   line-height: 58px;
   text-align: center;
   font-weight: 400;
   padding:0;
   margin:0;
}

@media screen and (max-width: 1279px) {
  .promo {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 500px) {
  .promo__title{
   line-height: 45px;
   font-size:40px;
  }  
}

@media screen and (max-width: 350px) {
  .promo {
    padding-left: 10px;
    padding-right: 10px;
    background-size: 248px 248px;
  }
  .promo__container{
  max-height: 117px;
}
  .promo__title{
   max-width: 300px;
   letter-spacing: -0.04em;
   line-height: 39px;
   font-size:31px;
  }
}