.promo {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #073042;
  height: 524px;
}
.promo__title {
  max-width: 720px;
  position: absolute;
  z-index: 1;
  color: #fff;
  letter-spacing: -0.04em;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  font-weight: 400;
  padding: 0;
  margin: 184px 0 224px;
}
.promo__logo {
  margin: 82px auto 122px;
  z-index: 0;
  width: 320px;
  height: 320px;
}

@media screen and (max-width: 805px) {
  .promo {
    padding-left: 19px;
    padding-right: 19px;
    height: 784px;
  }
  .promo__title { 
  margin: 326px 0 342px;
}
  .promo__logo {
  margin: 224px auto 240px;
}
}

@media screen and (max-width: 600px) {
  .promo__title {
    line-height: 45px;
    font-size: 40px;
  }
}

@media screen and (max-width: 405px) {
  .promo {
    padding-left: 10px;
    padding-right: 10px;
    height: 570px;
  }
  .promo__logo {
  margin: 142px auto 180px;
  width: 248px;
  height: 248px;
}
  
  .promo__title {
    max-width: 300px;
    letter-spacing: -0.04em;
    line-height: 39px;
    font-size: 31px;
    margin: 207px 0 246px;
  }
}
