.error-movies{
   max-width: 1140px;
   padding:0 70px;
   display: flex;
   justify-content: center;
   margin:0 auto;
}
.error-movies__title{

   text-align: center;
  padding: 0;
  margin: 140px 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
@media screen and (max-width: 405px) {
.error-movies__title{   
  font-size: 16px;
  line-height: 20px;
}
}